In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
path = "C:\\Users\\Alex\\data analysis\\training_jupyter\\training_project\\submission.csv"

In [5]:
df = pd.read_csv(path)

In [6]:
df.head()

   PassengerId     Sex  Survived
0          892    male         0
1          893  female         1
2          894    male         0
3          895    male         0
4          896  female         1